//META{"name":"DiscordNight","description":"Dark and compact theme for BetterDiscord","author":"KillYoy","version":"0.1.1"}*//
@import url('https://fonts.googleapis.com/css?family=Roboto');
/* Container Transparency To Allow General Color Changes */
body{
	font-family: 'Roboto', sans-serif;
}
.links,
.chat,
.typing,
.content,
.guild-channels,
.private-channels,
.divider,
.divider-red span,
.messages-wrapper,
#rtc-connection,
.channel-textarea textarea,
.friends-table,
.private-channels .channel.selected,
.guilds-add {
	background: transparent !important;
	background-color: transparent !important;
}
.account,
.account .btn,
#rtc-connection .btn,
.help-container,
.messages-wrapper .messages .divider span {
	background: transparent !important;
	background-color: transparent !important;
	box-shadow: none;
}
/* Top Bar */
.chat .title-wrap {
	background-color: #1B1B1B;
}
/* Text / Voice Channels, Friends/Users Tab Area */
.channels-wrap > div:first-of-type, #friends {
	background-color: #161616 !important;
}
#friends .friends-table .friends-table-body, .messages-wrapper { 
	background-color: #111111 !important; 
}
.name-2SL4ev{
	font-family: 'Roboto', sans-serif !important;
	font-size: 90% !important; 
}
/* Chat */
.content .flex-spacer { 
	background-color: #111111;
}
.theme-dark .chat>.content .messages .message-group .comment .markup{
	font-family: 'Roboto', sans-serif !important;
	font-size: 80% !important; 
}
/* Channel Users List */
.channel-members { 
	background-color: #161616 !important; 
}
/* Scroller Selection Bar */
.scroller-wrap .scroller::-webkit-scrollbar-thumb {
	border-color: rgb(17,17,17) !important;
	background: rgb(30,30,30) !important;
}
/* Scroller Whole Bar */
.scroller-wrap .scroller::-webkit-scrollbar-track-piece {
	background-color: transparent !important;
	border-color: transparent !important;
}

/******************************** Server/Guild list ********************************/

/* Server/Guild List Placement */
.guilds-wrapper {
	width: 68px;
	background-color: #1B1B1B;
}
.guilds-wrapper .guilds {
	padding: 6px 9px;
}
.guilds-wrapper .guilds .friends-online {
	margin: 5px 0;
}
.guilds-wrapper .guild-separator {
	height: 5px;
	width: 70px;
	margin-left: -10px;
    margin-top: -5px;
	margin-bottom: 8px;
}

/* Server Unread Message Icon */
.guilds-wrapper .guilds .guild.unread:before {
	background-color: #4C4C4C;
	border-radius: 3px;
	margin-top: -6px;
}
/*
.guilds-wrapper .guilds .guild.selected.unread:before {
	margin-top: -20px;
}
*/
/* Selected Server/Guild */
.guilds-wrapper .guilds .guild.selected:before {
    height: 0px;
    /* height: 30px; */
    background: #666666;
    margin-top: -15px;
}

/* DM's & Friends Icon */
.guilds-wrapper .guilds .friends-icon {
	background-size: 32px 29px;
	/* background-color: #576677; */
}

/************************* Text/voice channel section *************************/

/* Server Name Header */
.channels-wrap > div:first-of-type > div:first-of-type header,.private-channels .search-bar {
	height: 53px;
	background: #1B1B1B;
	border-bottom: none;
	padding: 0 5px;
}

/* Channels List */
.channels-wrap {
	width: 165px !important;
	transition: width 150ms;
	position: relative;
	background-color: #1B1B1B; /* Temp Fix For Voice Connected Padding */
}
/* Channels Placement/Formatting */
.containerDefault-1bbItS, .containerUserOver-3O3u5c {
    padding-top: -0px;
}
.wrapperCollapsed-18mf-c, .wrapperDefault-1Dl4SS, .wrapperHovered-1KDCyZ, .wrapperHoveredCollapsed-25KVVp, .wrapperMuted-PmsxPn, .wrapperUnread-450E16 {
	height: 36px;
	padding-top: 14px;
	padding-left: 10px;
	padding-right: 7px;
}

/* Text Channel Unread Notice Icon Left Of Channel Name */
.unread-23Kvxk {
    background-color: transparent; /* #434B60 */
}

/* Text Channel & Voice Channel Padding */
.channels-wrap > div[class^='wrapperDefault'] div[class^='nameDefault'] {
	line-height: 19px;
}
.channels-wrap div[class^='content'] {
	margin: 0;
}
/* Current Selected Channel Background */
.channels-wrap div[class^='contentSelectedText'] {
	background: rgb(30,30,30);
    border-left: 4px solid #434B60;
}
.channels-wrap div[class^='contentHoveredText'] {
	background: rgb(27,27,27);
}
/* Right Clicked/Hover Voice Channel */
.contentHoveredVoice-3qGNKh:active, .contentHoveredVoice-3qGNKh, .contentSelectedVoice-gTtYM9:active {
	background: rgb(27,27,27);
}
/* Current Connected Voice Channel Background Hover */
.contentSelectedVoice-gTtYM9:hover {
	background: rgb(27,27,27);
}
/* Right Clicked Or Dragging User In Voice Channel */
.userHovered-3tfm93:active {
    border-radius: 2px;
    background-color: transparent;
}
/* Voice Channel User Padding */
.channels-wrap div[class^='containerDefault'] > div:nth-child(2) {
	padding-left: 22px;
}

/* Text & Voice Channel Text Color */
.colorDefaultText-2v6rRX { 
	color: #738BD7; 
}
.colorHoveredText-1CsxK1, .colorLockedText-2onHWv, .colorLockedVoice-2VCSgk, .colorSelectedText-3YhFC6, .colorUnreadText-1KwCnP, .colorUnreadVoice-1Ztv9I {
	color: #8196D1;
}
.colorMutedText-2DBGZ2, .colorMutedVoice-2FZw4C {
	color: #475272;
}

/* Invite/Edit Channel Buttons */
.channels-wrap div[class^='scroller-'] {
	overflow-x: hidden !important;
	margin-right: -7px;
}
.channels-wrap div[class^='scroller-'] > div[class^='wrapperDefault'] {
	height: 35px;
	padding-top: 16px;
	padding-left: 13px;
}
.channels-wrap div[class^='scroller-'] > div[class^='wrapperDefault'] svg {
	width: 12px;
	height: 12px;
	left: 3px;
	position: relative;
	top: 2px;
}

/* Channels Bottom Status Box (Mute, Deafen, Settings) */
.channels-wrap > div[class^='container'] {
	background: rgb(27,27,27);
	border-bottom: none;
	margin-bottom: 0px;
	font-family: 'Roboto', sans-serif !important;
	font-size: 12px !important;
}
.channels-wrap > div:last-of-type {
	padding: -1px 12px 0px 12px;
}
.container-iksrDt{
	height: 44px;
}
/* User Name & Picture */
.container-iksrDt .avatar-small {
    margin: 0px 3px 0px -10px;
}
/* Mute, Deafen, Settings Buttons */
.button-1aU9q1 {
	left: 7px;
	width: 18px;
}
/* Voice Connected UI */
.container-3lnMWU {
	font-weight: 300;
	padding: 1px;
	margin-right: 3px;
}
.button-3WJ5FX {
	width: 20px;
}
/*
.inner-ptMwR- .rtc-connection-status .ping{
	width: 35px;
}
*/

/* RTC Connection Menu */
#rtc-connection-popout section {
	background: #161616;
}
#rtc-connection-popout hr {
    border: none;
}

/******************************* Top Bar (Channel Name, Buttons, Search etc) *******************************/

/* Top Channel Chat Section Header */
.chat > .title-wrap {
	min-height: 53px;
	border-bottom: none !important;
	
}

/* Top Right Buttons */
.chat .title-wrap .header-toolbar button {
	background: transparent;
	width: 25px;
	height: 25px;
	margin-top: 2px;
}
.chat .header-toolbar button:first-of-type {
	margin-right: 7px;
}
.chat .header-toolbar button:first-of-type:after {
	content: " ";
	border-right: 1px solid hsla(0,0%,85%,.1);
	position: absolute;
	width: 1px;
	height: 75%;
	left: 30px;
	top: 4px;
}
.chat .title-wrap .header-toolbar button span {
	width: 25px;
	height: 25px;
	background-size: 23px;
}

/* Left Search Bar Results Box */
.theme-dark .quickswitcher-2NdiGJ {
    background-color: #111;
}
.theme-dark .input-MwQhcX {
    background-color: #1b1b1b;
}

/* Right Search Bar, Search Options & Results Box */
.theme-light.search-popout .option {
    background: #1B1B1B;
}
.theme-light.search-popout .option::after {
    background: #1B1B1B;
}
.theme-light.search-popout .option.selected {
    background: #141414;
}
.theme-light.search-popout .option.selected::after {
    background: #141414;
}
.theme-light.search-popout {
	background-color: #1B1B1B;
}
.results-group {
	background-color: #1B1B1B;
}
.option.search-option.selected {
    background: #111111;
}
.option.search-option.selected::after {
    background: #111111;
}
.option.search-option::after {
    background: #1B1B1B;
}
.option.history {
	background-color: #1B1B1B;
}
.option.history.selected {
	background-color: #111111;
}
.option.history.selected::after {
    background: #111111;
}
.option.history::after {
    background: #1B1B1B;
}
.search .search-bar {
	background-color: rgb(35,35,35) !important;
}
.search-bar input {
	font-size: 10px !important;
	font-family: 'Roboto', sans-serif !important;

}
.search-bar .search-bar-inner {
	width: 100px;
}
/* Search For "X" */
.option.search-query{
    background: #1B1B1B;
}
.option.search-query.selected {
    background: #161616;
}
.keybind-shortcut.dim {
    display: none;
}

/* New Messages Top Box */
.chat .new-messages-bar {
	background-color: rgba(40,40,40,0.75);
}
.chat .new-messages-bar button:last-child {
	color: #fff;
}
/* Load More Messages Top Box */
.theme-dark .chat .has-more button {
	background-color: rgba(40,40,40,0.75);
	color: #fff;
	border: none;
}

/* Jump To Present/Current Messages Bottom Box */
.chat .jump-to-present-bar {
	background-color: rgba(40,40,40,0.75);
}

/* Pinned Messages Box */
.messages-popout-wrap .messages-popout .message-group {
	border-color: rgba(40,40,40,0.75);
	background-color: rgba(40,40,40,0.75);
}
.messages-popout-wrap .messages-popout .message-group .action-buttons .jump-button {
	background-color: #535559;
	color: rgb(47,47,47);
}
.themed-popout .header {
	background-color: #161616;
}
/* Mentions */
.theme-dark .messages-popout-wrap .messages-popout .message-group {
	background-color: #111111;
	border-color: #161616;
}

/* Help Window */
.bd-blue .need-help-modal .header {
	background-color: #111111;
}
.need-help-modal.deprecated a {
	color: #FFF;
}
.need-help-modal.deprecated .form-inner.loading {
	background-color: #191919;
}
.need-help-modal.deprecated .footer {
	background-color: #191919;
	border-top: none;
}
.need-help-modal.deprecated .header input[type=text] {
	background-color: #212121;
    -webkit-box-shadow: none;
    -webkit-box-sizing: none;
    box-shadow: none;
}
.form.deprecated .control-group input[type=text] {
    border-bottom: none;
}

/******************************* Text chat section *******************************/

/* Bottom Chat Area (Padded Container Including The Input Box & Typing Indicator) */
.chat form {
	margin: -7px;
	padding: 0px 0px;
	border-top: none !important;
}
/* Chat Text Input Box */
.channel-text-area-default { margin: -0px 0 7px; }
.channel-text-area-default textarea { 
font-family: 'Roboto', sans-serif !important;
font-size: 14px !important; 
}
.channel-text-area-default > div:first-child { background-color: rgb(27,27,27); }

/* Emoji Menu Button */
.spriteNormal-3BYqCK {
	margin-right: 5px;
    opacity: .25;
}
.spriteHovered-2ymMOw {
	margin-right: 5px;
	opacity: .75;
}
/* User Is Typing Indicator */
.theme-dark .chat form .typing { 
	font-size: 9.5px !important;
	padding-left: 12.5px; 
	padding-bottom: 0px;
}
.theme-dark .chat form .typing {
	background-color: transparent;
	padding-bottom: 0px;
}
.spinner-pulsing-ellipsis .spinner-item {
	margin-right: 2px;
	background-color: #6B6B6B;
	border-radius: 3px;
	display: inline-block;
	opacity: .3;
}
/* Hide Attach File Button */
.attachButton-Di6YUh {
	margin: 0px 0 12px 10px;
	width: 0px;
}
.theme-dark .attachButtonDivider-3tknGJ {
    background-color: transparent;
	width: 0px;
	margin: 0px 0px 0px 5px;
}
/* DM's And Guilds Separator */
.guilds-wrapper .guild-separator:after {
	top: 2px;
}
/* Messages Format/Styling/Separation */
.message-group {
	padding: 6px 0;
	margin-left: 7px;
	margin-right: 0px;
	border-bottom: none; /* 1px solid #000000;*/
	overflow: hidden;
}
.message-group .comment { margin-right: 5px; }
.message-group .message { position: relative; }
.message-group.compact { margin-left: 5px; }
.message-group.compact .comment .markup { padding-left: 75px; text-indent: -75px; }
.message-group.compact .bot-tag { margin: 0 3px 0 0 !important; line-height: 22px; }
.message-group .comment .markup {
	/* min-height: 25px; */
	line-height: 20px;
	color: rgba(255, 255, 255, 0.7);
	margin-top: 0;
}
.message-group.compact .comment .markup { margin-bottom: 0; }
.message-group .embed { background: rgb(22,22,22); border: none !important; }
.message-group .embed-field .markup { margin-top: 0; }
.message-group .mentioned .message-text { background: rgb(27,27,27) !important; }

/* Chat User Avatar */
.message-group .avatar-large {
	margin-top: 0;
	margin-right: 12px;
	width: 35px;
	height: 35px;
	background-size: 35px 35px;
}

/* Reactions */
.reaction { 
	background: rgb(27,27,27) !important; 
	transition: background 150ms; 
}
.reaction:hover { 
	background: rgb(37,37,37) !important; 
}
/* Show All Reactions Box*/
.scroller-2IVcoQ {
	background-color: #111111;
}
.theme-dark .container-a2vS7i, .theme-dark .reactors-2PjMP0 {
	background-color: #191919;
}

/* Reaction Box */
.reactions {
    margin-top: 0px;
    margin-left: -2px;
}
/* Reaction Emojis */
.reactions .emoji {
	height: 18px;
	width: 18px;
}

/* Emoji Solo */
.emoji.jumboable {
    width: 28px;
    height: 28px;
}
.emoji {
    margin: 1px 0px 0px 0.5px!important;
}

/* Emojis Menu */
.emoji-picker {
	border: none;
}
.emoji-picker .scroller .row {
	height: 30px;
	padding: 0 0 0 0px;
}
.emoji-picker .header {
	background-color: #191919;
}
.emoji-picker .scroller-wrap .scroller {
	background-color: #191919;
}
.bda-dark .emoji-picker .dimmer.visible {
	background-color: rgba(17, 17, 17, 0.6);
}
.search-bar.search-bar-light {
	background-color: #191919;
}
.search-bar.search-bar-light .search-bar-inner {
	background-color: #111111;
}
.emoji-picker .category, .bda-dark .emoji-picker {
	background-color: #111111;
}
.bda-dark .emoji-picker .category {
	background-color: #111111;
	height: 30px;
	padding: 0 0 0 10px;
}
.bda-dark .emoji-picker .header .search-bar {
	background-color: #191919;
}
.emoji-picker .scroller-wrap .scroller::-webkit-scrollbar-thumb {
	border-color: transparent !important;
	background: #191919 !important;
}
.emoji-picker .scroller-wrap .scroller::-webkit-scrollbar-track-piece {
	border-color: #111 !important;
	background: #111 !important;
	border-radius: 0px;
}

/* Edit Text Box */
.theme-dark .inner-3if5cm, .innerNoAutocomplete-kaUXJZ {
	background-color: #1B1B1B;
}
/* AutoComplete Box */
.autocompleteInner-N7OQf1 {
	background-color: #111111;
}
.theme-dark .selectorSelected-2M0IGv {
	background-color: #141414;
}
.message-group .edit-message .edit-container-outer {
    margin-left: 0px;
    margin-right: 10px;
}

/* Expanded description */
.chat .title-wrap .topic .topic-full {
	background-color: rgba(0,0,0,0.98) !important;
	border-bottom: none;
	box-shadow: none;
}

/* Chat @mention highlight */
.message-group .mentioned.first .message-text { margin-top: 5px !important; }
.message-group.compact .mentioned.first .message-text { margin-top: 0 !important; }
.message-group .mentioned .message-text {
	padding: 1px 3px !important;
	border-radius: 2px;
	border: solid #faa61a;
	border-width: 0 4px 0 0;
}
/* Chat NEW MESSAGES */
.chat .divider > div { 
	background: #474a4f; 
}
.chat .divider { 
	height: 17px;
	background: transparent;
}
/* Embedded previews etc */
.embed .embed-thumbnail { margin-top: 3px; }
.embed {
	padding: 6px 12px 6px;
	background-color: rgb(22,22,22) !important;
}

.invite-button {
	background-color: rgb(27,27,27) !important;
	border-color: rgb(27,27,27) !important;
}

.chat .messages-wrapper, .chat .messages-wrapper .scroller-wrap { padding-bottom: 3px; }
.messages-wrapper .messages .divider div { background: rgb(47,47,47) !important; }
.messages-wrapper .messages .divider.divider-red>div { background: #f04747 !important; }
.friends-table .messages .divider:before, .friends-table .messages .divider span, .messages-wrapper .messages .divider:before, .messages-wrapper .messages .divider span { background-color: transparent !important; }
.message-group .comment .markup pre {
	background: rgb(22,22,22) !important;
	border: none;
	display: inline-block;
	/* margin-top: -11px !important; */
	/* bottom: -9px !important; */
	/* position: relative !important; */
}
.message-group .markup pre code { background: transparent !important; }
.messages-wrapper .messages .embed { border-color: rgb(47,47,47) !important; }

/****************************** Server User List Section ******************************/
.channel-members-wrap {
	width: 180px;
	min-width: 0 !important;
	display: flex !important;
	transition: width 150ms;
}
/* User Role Category List Group Labels */
.channel-members h2 {
	position: relative;
	padding: 0 0 2px 0;
	width: 180px;
	letter-spacing: .001em;
	border-bottom: 1px solid #333333; /*#738bd7*/
	margin-left: 7px;
	transition: width 150ms;
	display: inline-flex;
	white-space: nowrap;
	margin-top: 18px;
}
.channel-members h2:hover {
	white-space: normal;
}
/* User Status Game Playing Text */
.member-activity-text {
	margin: -2px 0.5px;
	font-size: 0px !important;
}
.channel-members .member .member-activity strong {
	font-size: 10px !important;
	font-family: 'Roboto', sans-serif !important;
	max-height: 12px;
	width: 160px;
	transition: all 250ms;
}
/* User Profile Icon */
.channel-members .member .member-inner {
	width: 180px;
	padding: 0 0 0 6px;
}
.channel-members .avatar-small .status {
	border-color: #161616 !important;
}
/* User Background Hover Effect */
.theme-dark .channel-members .member.popout-open, .theme-dark .channel-members .member:hover {
	background: linear-gradient(to right, #161616,#1C1C1C,#161616);
}
/* User Selection/Hover Animation Transition */
.channel-members .member.popout-open .avatar-small, .channel-members .member:hover .avatar-small {
	-ms-transform: scale(1.2);
	transform: scale(1.2);
}
.channel-members .member.popout-open .avatar-small,.channel-members .member .avatar-small {
	transition: all 100ms ease;
}
.channel-members .member:hover {
	transform: translate(5px);
}

/* Users Spacing */
.channel-members .member {
	padding: 1px 0 1px 10px;
	margin-bottom: 5px;
	position: relative;
	overflow: visible;
}
/* User Images Spacing/Size */
.channel-members .avatar-small {
	width: 26px;
	height: 26px;
	background-size: 26px 26px;
	margin-right: 0;
	position: relative;
	z-index: 2;
}
/* Online status indicator */
.channel-members .avatar-small .status {
	top: 65%;
	right: -4px;
	border: 2px solid #1c1e22;
	z-index: 3;
}
/* Offline Users Small Profile Picture */
.channel-members .member.member-status-offline .avatar-small {
	height: 20px;
	width: 20px;
	background-size: 20px 20px;
}
/* User Typing indicator */
.status-typing {
	width: 26px !important;
	right: -11px !important;
	overflow: hidden;
	right: -5px !important;
}

/******************************* Friends tab **********************************/
/* Friends Button */
.theme-dark #friends .friends-table .friends-row:hover {
	background-color: #1E1E1E;
}
.bd-blue .private-channels .channel.selected .icon-friends {
	border-radius: 5px;
}
.channel.btn-friends {
    background-color: #191919;
}
/* Friends List Header*/
#friends .friends-header {
	height: 53px;
	background: rgb(27,27,27) !important;
	border-bottom: none !important;
}
#friends .friends-table { 
	margin-top: 0; 
}
/* Friends List Hide Name/Activity Header */
#friends .friends-table .friends-table-header { 
	background: rgb(22,22,22); 
	margin-top: -27px;
}
.theme-dark #friends .friends-table .friends-table-header {
	border-bottom: none;
}
#friends .friends-table .friends-table-header .friends-column-separator { 
	height: 12px;
}

/* Friends List Game Activity */
#friends .friends-table .friends-row .friends-column-status .friend-activity-text, #friends .friends-table .friends-row .friends-column-status .status-text { 
	white-space: normal; 
}

/* DM Name List */
.private-channels .channel .channel-name {
	opacity: 0.7;
}
.private-channels .channel a {
	margin: 0px;
}
.private-channels .channel.selected a {
	background-color: #191919;
	margin: 0px;
}
.private-channels .channel:hover a {
    background-color: #191919;
	margin: 0px;
}
/* Remove DM From List Buton */
.private-channels .channel:hover .close {
	margin: -5px;
}
/* DM Name Placement Correction */
.chat>.title-wrap>.title { 
	margin-left: -12px;
}

/**************************************** Main Discord UI ***************************************/

/* Server Invited Box */
.invite-modal .invite-content {
	color: #fff;
	background-color: #202020;
}
.invite-modal .invite-body {
	color: #9E9E9E;
}

.small-popout-box {
	background-color: #202020;
	border-color: #202020;
}
.option-popout .btn-item {
	color: #9E9E9E;
}
.option-popout .btn-item:hover {
	color: #fff;
}
/* Server Name Popout Window */
.popout.popout-bottom {
	margin-top: none;
}
.popout-menu {
	background-color: #1B1B1B;
}
.popout.popout-bottom {
	margin-top: 0px;
}
.popout-menu .popout-menu-item:hover {
	background-color: #202020;
	color: #fff;
}

/* Better Formatting Box */
.theme-dark .bf-toolbar:before {
	background: #202020;
}
.theme-dark .bf-toolbar div:not(.bf-arrow):hover {
    background: rgba(255,255,255,.035);
}
/* Online Status */
.popout-menu .popout-menu-separator {
	border-bottom: none;
}

/* Context Menu's */
.context.menu {
	background-color: #202020;
	background: #202020;
	color: #202020;
}
.context-menu {
	color: #B5B5B5;
	background-color: #202020;
	font-size: 12.5px !important;
}
.context-menu .item {
	background-color: #202020;
}
.theme-dark.context-menu .item-subMenu {
	background-color: #202020;
}
.theme-dark.context-menu, .theme-dark.context-menu .context-menu {
	background-color: #202020;
}

.theme-dark .context-menu .item {
	line-height: 13px;
}
.theme-dark .context-menu .item-subMenu {
	background-color: #202020;
}
.theme-dark.context-menu .item:hover {
	background-color: #1C1C1C;
}
.context-menu .item:hover {
	background: #202020;
}
.context-menu .context-menu .scroller-wrap .scroller::-webkit-scrollbar-thumb {
	border-color: #202020 !important;
	background: #141414 !important;
}

/* ToolTips */
.tooltip {
	background: #202020;
}
.tooltip.tooltip-top.tooltip-normal {
	background: #202020;
}
.bd-blue .tooltip {
	background-color: #202020;
}
.bd-blue .tooltip.tooltip-top:after {
	border-top-color: #202020;
}
.bd-blue .tooltip.tooltip-right:after {
	border-right-color: #202020;
}
.bd-blue .tooltip.tooltip-left:after {
	border-left-color: #202020;
}
.bd-blue .tooltip.tooltip-bottom:after {
	border-bottom-color: #202020;
}

.context-menu .context-menu .scroller {
	max-height: 500px;
}
.scroller-wrap .scroller {
	overflow-y: auto;
}

/* Chat CharacterCounter Plugin */
#charcounter {
	right: 11px;
	bottom: 33px;
	opacity: 0.1;
	font-size: 10px !important;
}

/* Roles & Member Add Popout Window */
.popout header {
    background-color: #1B1B1B;
}
#autocomplete-popout .autocomplete-scroller {
    height: 400px;
    background-color: #202020;
}
#autocomplete-popout .row.selected, #autocomplete-popout .row:hover {
    background-color: #202020;
    background: #111111;
}
.channel-settings-permissions-popout .user-name, .channel-settings-permissions .user-name {
	color: #FFF;
}
/* Scroller */
.theme-dark .scrollerThemed-19vinI.themeLight-1WK0Av .scroller-fzNley::-webkit-scrollbar-thumb {
    background-color: #1B1B1B;
}
.theme-dark .scrollerThemed-19vinI.themeLight-1WK0Av .scroller-fzNley::-webkit-scrollbar-track-piece {
    background-color: #202020;
}
/* Delete Channel Confirmation: No */
.buttonPrimaryLinkDefault-1PQflF {
	background-color: #1B1B1B;
    color: #dcddde;
}

/* Server Region Selector */
.region-select-modal {
	background-color: #1B1B1B;
}
.region-select-modal .region-select-modal-option {
	background-color: #111111;
	border: 2px solid #202020;
}

/* Settings Menues */
.ui-standard-sidebar-view .content-column.defalt {
	padding: 35px 37px 80px;
}
.ui-standard-sidebar-view .sidebar-region .sidebar-region-scroller {
	background-color: #0F0F0F;
}
 .ui-standard-sidebar-view .content-region-scroller {
	background-color: #191919;
}
.theme-dark .ui-standard-sidebar-view .sidebar-region {
	background-color: #0F0F0F;
}
.theme-dark .cardPrimary-ZVL9Jr {
	background-color: #202020;
}
#bd-settingspane-container .scroller-wrap .scroller {
	background-color: #191919;
}
.theme-dark .ui-standard-sidebar-view {
    background: #191919;
}
.theme-dark .ui-standard-sidebar-view .content-region {
    background: #191919;
}

/* Settings Buttons */
.itemDefaultSelected-1UAWLe {
	background-color: #576677;
}
.buttonBrandFilled-3Mv0Ra {
	background-color: #576677;
}
.cardWarning-31DHBH {
	background-color: #CE9D4E;
}
/* Announce Message Box (AFK, No Sound From Mic, ...) */
.theme-dark .content-1hiykS {
	background-color: #191919;
}
.theme-dark .footer-1PYmcw {
	background-color: #202020;
}
.theme-dark .primaryButton-1ZHZe8, .secondaryButton-16bxiT {
	background-color: #191919;
}
/* Changelog Window */
.theme-dark .modal-3HOjGZ {
	background-color: #202020;
}

/* Better Discord Buttons */
#bd-settings-sidebar .ui-tab-bar-item.selected {
	background-color: #576677;
}
.bd-blue .bd-pfbtn {
	background-color: #576677;
}
/* BetterDiscord Plugins List */
.ui-standard-sidebar-view .bda-slist li:nth-child(odd) {
	background-color: #202020;
}
.ui-standard-sidebar-view .bda-slist li {
	background-color: #262626;
}
.ui-standard-sidebar-view .bda-slist .bda-right button {
	background-color: #576677;
}
/* Permissions Settings Boxes */
.group-3SxASV, .item-3H-QZD {
	background-color: #202020;
	border: 1px solid rgba(255, 255, 255, 0.1);
}
.theme-dark .allowSelected-1FAg8y {
	background-color: #43b581;
	border: 1px solid rgba(255, 255, 255, 0.1);
}
.theme-dark .denySelected-h37B9e {
	background-color: #f04747;
	border: 1px solid rgba(255, 255, 255, 0.1);
}
/* Keyboard Controls Showcase Menu */
.keyboard-shortcuts-modal {
	background-color: #1B1B1B;
}
.keybind-shortcut span {
	background-color: #fff;
}
/* Game Activity "No Game Detected Box" */
.theme-dark .user-settings-games .not-detected, .user-settings-games .not-detected {
	background-color: #202020;
}
/* Server Notifications Settings Window */
.deprecated-settings-modal .settings-inner {
	background-color: #202020;
}
.deprecated-settings-modal .settings-actions {
	background-color: #202020;
	border-top: none;
}
.flex-horizontal.flex-spacer.content-inner {
	background-color: #202020;
}
.radio .radio-inner {
	background-color: #1B1B1B;
	border-color: #3D3D3D;
}

/* Pinned Messages Box */
.theme-dark .messages-popout-wrap .header {
	background-color: #202020;
}
.theme-dark .messages-popout-wrap .footer {
	background-color: #202020;
	padding: none;
	display: none; /* Disable ProTip */
}
.theme-dark .messages-popout-wrap {
	border: none;
}
.messages-popout {
    background: #191919;
	border-radius: 0 0 0px 0px; 
}

/**************************************** Profile Preview ***************************************/

#user-profile-modal .header {
	/* background: linear-gradient(#1E1E1E,#161616,#0F0F0F); */
	background-color: #191919;
	background-image: none;
}
.avatar-profile {
	border-radius: 60px;
	background-size: 128px 128px;
	margin-top: -29px;
	/*
	width: 138px;
    height: 138px;
	background-size: 138px 138px;
	margin-top: -34px;
	*/
}
.avatar-profile .status {
	border-color: #202020;
}
.discriminator {
	color: #A5A5A5!important;
	font-size: 13px ;
	text-shadow: -1px 2px 0px #070707;
}
#user-profile-modal .header .username {
	margin-top: -30px;
	color: #fff;
	font-size: 34px !important;
	text-shadow: -1px 2px 0px #070707;
}
#user-profile-modal .avatar-wrapper {
	background-color: transparent;
}
#user-profile-modal .header::after {
	display: none!important;
}
#user-profile-modal .tab-bar {
	margin-left: -185px;
	margin-top: 0px;
	background: #111111;
}
#user-profile-modal .tab-bar-container {
	background-color: #111111;
	border-bottom: 0;
}
#user-profile-modal .scroller {
	background: #111111;
	border-bottom: 0;
}
/* Mutual Servers/Friends*/
#user-profile-modal .guilds .guild .guild-name {
	color: #AFAFAF;
}
#user-profile-modal .guilds .guild:hover {
	background: #0C0C0C;
}

#user-profile-modal .guilds .section .connected-accounts .connected-account a:hover .connected-account-open-icon {
	opacity: 0.8;
}
#user-profile-modal .guilds .section .connected-accounts .connected-account .connected-account-name-inner .connected-account-name {
	color: #fff;
	font-weight: 500
}
#user-profile-modal .guilds .section .section-header { 
	color: #CCCCCC; 
}
#user-profile-modal .guilds .section .connected-accounts .connected-account {
	border: 0;
	background: #161616;
}
#user-profile-modal .guilds .section .connected-accounts {
	margin-left: -10px;
	margin-right: -10px;
	padding: 0 10px;
}
#user-profile-modal .tab-bar .tab-bar-item, #user-profile-modal .tab-bar .tab-bar-item.selected {
	color: white;
}
#user-profile-modal .tab-bar .tab-bar-item.selected {
	font-weight: bold;
	border-bottom-color: #fff;
}
/* Onwner Tag Plugins */
#user-profile-modal .kawaii-tag {
	background: #B72118!important;
	text-shadow: -1px 2px 0px #821412;
}
/* Mutual Friends/Server Empty */
#user-profile-modal .empty {
	background-color: #111111;
}

/***************************************** Profile Popout ****************************************/
.userPopout-4pfA0d .header-3mZJcV {
	padding: 7px 0px 0px;
	font-size: 20px !important;
	line-height: 17px;
}
.userPopout-4pfA0d .headerNormal-1cioxU {
	/* background-color: #161616; */
	background: radial-gradient(circle,#1E1E1E,#1C1C1C,#0F0F0F);
}
.userPopout-4pfA0d {
	width: 220px;
	border-radius: 3px;
	overflow: hidden;
}
.userPopout-4pfA0d .body-3rkFrF {
	padding: 12px;
	background-color: #202020;
	border-bottom: none;
	/* border-bottom: 1px solid #4C4C4C; */
}
.avatar-1jmnc- {
	border: 3px solid #4C4C4C;
}
.header-3mZJcV .avatarStatusOnline-3Io--E {
	border-color: #4C4C4C;
}
.header-3mZJcV .avatarStatusNormal-1OXVjG {
	border-color: #4C4C4C;
}
.headerDiscriminator-3fLlCR {
	color: #777777;
}
.userPopout-4pfA0d .footer-2J5zqP {
	padding: 2.5px;
	/* padding: 10px; */
	background-color: #202020;
	background: linear-gradient(#202020,#202020,#0F0F0F);
}
.protip {
	font-size: 0px !important;
	/* font-size: 11px; */
	color: #A5A5A5;
}
.member-role.member-role-add {
	background-color: #1E1E1E;
	border: 1px solid gray;
}
.member-roles .member-role {
	background-color: #1E1E1E;
	border: 1px solid gray;
}
.quick-message {
	background-color: #161616;
	border-color: #4C4C4C;
}
/* BOT Tag Fix */
.botTagInvert-gorWR_ {
	background: #3A71C1;
	color: #fff;
}

/************************************ Needs To Be Loaded Last ************************************/

/* Connecting/Reconnecting Loading Screen */
.app, .connecting {
	background: hsla(0,0%,5%,0.90);
}
.app a, .connecting a {
	color: #fff;
}
/* Server Welcome Message */
.chat .welcome-message {
    padding: 10px;
    display: none;
}
