//META{"name":"DiscordNight | Classic Titlebar","description":"Reverts the titlebar to Discord's classic titlebar","author":"KillYoy#0295","version":"0.9.5.8","authorId":"98468214824001536"}*//{}

/****************************************** Window Titlebar ******************************************/

/* Watermark */
.titleBar__710b0 .wordmark__5b8c9 {
	display: none; 
}
/* Hide Titlebar */
.titleBar__710b0 {
	position: absolute;
	padding: 5px 5px;
	top: 0;
	right: 0;
	-webkit-app-region: no-drag;
}
/* Allow Draging Top Titlebar */
.titleBar__710b0:before {
	content: ' ';
	position: absolute;
	height: 8px;
	width: 100vw;
	top: 0px;
	right: 0;
	-webkit-app-region: drag;
}
/* Buttons */
.titleBar__710b0 .winButton_f17fb6 svg, 
.titleBar__710b0 .winButtonClose__6396d svg, 
.titleBar__710b0 .winButtonMinMax_caf9c8 svg {
	height: 16px;
	width: 16px;
}
.titleBar__710b0 .winButton_f17fb6 {
	color: #E5E5E5;
	height: 28px;
	width: 28px;
	top: -3px;
}
.titleBar__710b0 .winButton_f17fb6:hover {
	color: #FFFFFF;
}
/* Move Buttons */
.container__26baa,
.container__26baa.title_d4ba1a {
	padding-right: 86px !important;
}
.threadSidebar-1o3BTy .container__26baa {
	padding-right: 96px !important;
}
.threadSidebarOpen__62c31 .container__26baa.title_d4ba1a {
	padding-right: 0px !important;
}
.headerWrapper_ea51a0 .transparent__8d0a5.container__26baa .toolbar__62fb5 {
	margin-right: 6px;
}
/* Move PTB/Canary Bug Report Button */
.container__26baa .toolbar__62fb5 [aria-label="Submit bug"] {
	padding-right: 8px;
}
/* Divider */
.container__26baa:after {
	content: ' ';
	background-color: #313131;
	/* height: 24px; */
	width: 0.5px;
	margin-right: 8px;
	margin-left: 2px;
}
.threadSidebar-1o3BTy .container__26baa:after {
	width: 0px;
	margin-right: 0px;
}

/* Notice */
.notice__5fd4c {
	height: 40px;
}
/* Notice: Dismiss Button */
.notice__5fd4c .closeButton__90904 {
	height: 40px;
	margin-right: 92px;
}

/* View As Server Role */
.notice__5fd4c .lookOutlined__014b5.colorWhite__0033e {
	margin-right: 92px;
}

/* Voice Channel With Text Chat Button */
.wrapper__6bf2d.chatSidebarOpen_f2e544 .headerWrapper_ea51a0 .container__26baa {
	padding-right: 0px !important;
	margin-left: 30px;
}
.wrapper__6bf2d.chatSidebarOpen_f2e544 .headerWrapper_ea51a0 .container__26baa:after {
	display: none !important;
}
.wrapper__6bf2d .headerWrapper_ea51a0 .transparent__8d0a5.container__26baa .toolbar__62fb5 {
	margin-right: 40px !important;
	margin-left: -16px !important; /* -48px */
}
.wrapper__6bf2d .chatIcon_c43df4 {
	margin-right: 80px !important;
	margin-left: -88px !important;
	pointer-events: auto;
}
.wrapper__6bf2d .disabledButtonWrapper_b04230 {
	display: none;
}

/* Stage Channel Icon Padding Fix */
.container_ffbc98 .sidebarOrChatVisible__0e520 .participants__9b6fb.transparent__8d0a5.container__26baa {
	padding-right: 8px !important;
}
.container_ffbc98 .participants__9b6fb.transparent__8d0a5.container__26baa {
	padding-right: 94px !important;
}
.container_ffbc98 .participants__9b6fb.transparent__8d0a5.container__26baa:after,
.container_ffbc98 .container_ffbc98 .headerContainer__73bce .headerClose__75228 {
	margin-left: 8px;
}
