//META{"name":"DiscordNight | Classic Titlebar","description":"Reverts the titlebar to Discord's classic titlebar","author":"KillYoy#0295","version":"0.9.5.7","authorId":"98468214824001536"}*//{}

/****************************************** Window Titlebar ******************************************/

/* Watermark */
.titleBar__01af6 .wordmark__0d178 {
	display: none; 
}
/* Hide Titlebar */
.titleBar__01af6 {
	position: absolute;
	padding: 5px 5px;
	top: 0;
	right: 0;
	-webkit-app-region: no-drag;
}
/* Allow Draging Top Titlebar */
.titleBar__01af6:before {
	content: ' ';
	position: absolute;
	height: 8px;
	width: 100vw;
	top: 0px;
	right: 0;
	-webkit-app-region: drag;
}
/* Buttons */
.titleBar__01af6 .winButton__88672 svg, 
.titleBar__01af6 .winButtonClose__73489 svg, 
.titleBar__01af6 .winButtonMinMax__72f36 svg {
	height: 16px;
	width: 16px;
}
.titleBar__01af6 .winButton__88672 {
	color: #E5E5E5;
	height: 28px;
	width: 28px;
	top: -3px;
}
.titleBar__01af6 .winButton__88672:hover {
	color: #FFFFFF;
}
/* Move Buttons */
.container__11d72,
.container__11d72.title_b7d661 {
	padding-right: 86px !important;
}
.threadSidebar-1o3BTy .container__11d72 {
	padding-right: 96px !important;
}
.threadSidebarOpen_fa231d .container__11d72.title_b7d661 {
	padding-right: 0px !important;
}
.headerWrapper__94dd8 .transparent__7f3e0.container__11d72 .toolbar__88c63 {
	margin-right: 6px;
}
/* Move PTB/Canary Bug Report Button */
.container__11d72 .toolbar__88c63 [aria-label="Submit bug"] {
	padding-right: 8px;
}
/* Divider */
.container__11d72:after {
	content: ' ';
	background-color: #313131;
	/* height: 24px; */
	width: 0.5px;
	margin-right: 8px;
	margin-left: 2px;
}
.threadSidebar-1o3BTy .container__11d72:after {
	width: 0px;
	margin-right: 0px;
}

/* Notice */
.notice__5fd4c {
	height: 40px;
}
/* Notice: Dismiss Button */
.notice__5fd4c .closeButton_ffc97a {
	height: 40px;
	margin-right: 92px;
}

/* View As Server Role */
.notice__5fd4c .lookOutlined__46d54.colorWhite__43488 {
	margin-right: 92px;
}

/* Voice Channel With Text Chat Button */
.wrapper_bd2abe.chatSidebarOpen_dfaa6a .headerWrapper__94dd8 .container__11d72 {
	padding-right: 0px !important;
	margin-left: 30px;
}
.wrapper_bd2abe.chatSidebarOpen_dfaa6a .headerWrapper__94dd8 .container__11d72:after {
	display: none !important;
}
.wrapper_bd2abe .headerWrapper__94dd8 .transparent__7f3e0.container__11d72 .toolbar__88c63 {
	margin-right: 40px !important;
	margin-left: -48px !important;
}
.wrapper_bd2abe .chatIcon__75eea {
	margin-right: 80px !important;
	margin-left: -88px !important;
	pointer-events: auto;
}
.wrapper_bd2abe .disabledButtonWrapper__69c70 {
	display: none;
}

/* Stage Channel Icon Padding Fix */
.container__3e5cc .sidebarOrChatVisible__8e92f .participants_d2109a.transparent__7f3e0.container__11d72 {
	padding-right: 8px !important;
}
.container__3e5cc .participants_d2109a.transparent__7f3e0.container__11d72 {
	padding-right: 94px !important;
}
.container__3e5cc .participants_d2109a.transparent__7f3e0.container__11d72:after,
.container__3e5cc .container__3e5cc .headerContainer_bff52d .headerClose_f4d62c {
	margin-left: 8px;
}
