//META{"name":"DiscordNight-Custom-UserBG","description":"Adds support for Discord-Custom-Covers (UserBG)","author":"KillYoy#0295","version":"0.1","authorId":"98468214824001536"}*//{}

/*********************************** Profile Custom UserBG *************************************/

/* User Profile Modal */
.modal-3c3bKg .root-SR8cQa {
	transform: translateZ(0);
}
.modal-3c3bKg .topSectionNormal-2-vo2m {
	background: linear-gradient(#111111 0px, #050505 180px);
}
.modal-3c3bKg .topSectionNormal-2-vo2m .header-QKLPzZ .wrapper-3t9DeA::after {
	content: '';
	background-image: var(--user-background);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 610px 540px;
	-webkit-mask-image: linear-gradient(#161616 180px, transparent 640px);
	position: fixed;
	width: 610px;
	height: 100%;
	filter: brightness(0.65) grayscale(0.35);
	pointer-events: none;
}
.modal-3c3bKg .topSectionPlaying-1J5E4n .header-QKLPzZ .wrapper-3t9DeA::after {
	content: '';
	background: var(--user-background) top/cover no-repeat;
	-webkit-mask-image: linear-gradient(#161616 310px, transparent 100%);
	position: fixed;
	width: 610px;
	height: 100%;
	filter: brightness(0.65) grayscale(0.35);
	pointer-events: none;
}
/* User Profile Modal: Top Overlay */
.modal-3c3bKg .topSectionNormal-2-vo2m .header-QKLPzZ::after {
	content: '';
	background-color: rgba(45,45,45,0.55);
	-webkit-mask-image: linear-gradient(transparent 0px, #212121 180px);
	position: fixed;
	top: 0px;
	width: 610px;
	height: 180px;
	pointer-events: none;
}
.modal-3c3bKg .topSectionPlaying-1J5E4n .header-QKLPzZ::after {
	content: '';
	background-color: rgba(45,45,45,0.55);
	-webkit-mask-image: linear-gradient(transparent 0px, #212121 180px);
	position: fixed;
	top: 0px;
	width: 610px;
	height: 304px;
	pointer-events: none;
}
.modal-3c3bKg .topSectionPlaying-1J5E4n {
	background: linear-gradient(#39567F 0px, #3B7AC6 180px);
	border-radius: 10px 10px 0px 0px;
}
.modal-3c3bKg .topSectionPlaying-1J5E4n .headerFill-adLl4x {
	background-color: rgba(0,0,0,0);
	backdrop-filter: blur(4px);
}
/* User Profile Modal: Body Blur */
.modal-3c3bKg .root-SR8cQa .body-3ND3kc {
	background: rgba(45,45,45,0.55) !important;
	backdrop-filter: blur(4px);
}
/* User Profile Modal: Custom Body Support */
.modal-3c3bKg .body-3ND3kc .infoScroller-3EYYns::after,
.modal-3c3bKg .body-3ND3kc .listScroller-2_vlfo::after {
	content: '';
	position: fixed;
	top: 0px;
	width: 610px;
	height: 100%;
	pointer-events: none;
}
/* User Profile Modal: Element Visibility Fix */
.modal-3c3bKg .headerFill-adLl4x,
.modal-3c3bKg .headerInfo-30uryT,
.modal-3c3bKg .tabBarItem-1b8RUP,
.modal-3c3bKg .activity-1ythUs,
.modal-3c3bKg .userInfoSection-2acyCx,
.modal-3c3bKg .listRow-hutiT_,
.modal-3c3bKg .empty-2WtT5s {
	position: relative;
	z-index: 1;
}
.modal-3c3bKg .mask-1l8v16 {
	z-index: 1;
}


/* User Popout Profile */
.userPopout-3XzG_A {
	transform: translateZ(0);
}
.userPopout-3XzG_A .wrapper-3t9DeA::after {
	content: '';
	background: var(--user-background) center/cover no-repeat;
	-webkit-mask-image: linear-gradient(#161616 10%, transparent 100%);
	position: fixed;
	top: var(--User-Popout-Width);
	height: 320px;
	width: 100%;
	opacity: 0.35;
	z-index: -1;
	pointer-events: none;
}
.userPopout-3XzG_A .header-2BwW8b,
.userPopout-3XzG_A .headerText-2sdzFM,
.userPopout-3XzG_A .bodyTitle-Y0qMQz,
.userPopout-3XzG_A .role-2irmRk,
.userPopout-3XzG_A .note-3HfJZ5,
.userPopout-3XzG_A .footer-1fjuF6 {
	position: relative;
	z-index: 1;
}