//META{"name":"DiscordNight-Titlebar","description":"Reverts titlebar to the classic Discord titlebar","author":"KillYoy#0295","version":"0.5.1","authorId":"98468214824001536"}*//{}

/****************************************** Window Titlebar ******************************************/

/* Login Titlebar Buttons Background */
.platform-win .splashBackground-1FRCko:before {
	background: transparent !important;
}

.titleBar-AC4pGV .wordmark-2iDDfm {
	display: none; 
}
.titleBar-AC4pGV .winButton-iRh8-Z svg, 
.titleBar-AC4pGV .winButtonClose-2rIvsa svg, 
.titleBar-AC4pGV .winButtonMinMax-bT_gQ1 svg {
	height: 16px;
	width: 16px;
}
.titleBar-AC4pGV .winButton-iRh8-Z {
	color: #FFFFFF;
	height: 28px;
	width: 28px;
	top: -3px;
}
.titleBar-AC4pGV {
	position: absolute;
	padding: 9px 5px;
	margin: 0;
	top: 0;
	right: 0;
	-webkit-app-region: no-drag;
}
/* Allow Draging */
.titleBar-AC4pGV:before {
	content: ' ';
	height: 6px;
	width: 100vw;
	position: absolute;
	top: 4px;
	right: 0;
	-webkit-app-region: drag;
}
/* Move Buttons */
.container-1r6BKw, 
.title-3qD0b-, 
.titleCall-_b9o8P {
	padding-right: 86px !important;
}
/* Divider */
.headerWrapper-3NUKsd .transparent-2ZlE3R.container-1r6BKw:after, 
.title-3qD0b-.container-1r6BKw:after {
	content: ' ';
	height: 24px;
	width: 1px;
	background-color: #313131;
	margin-right: 8px;
}

/* Notice */
.notice-3bPHh- {
	height: 40px;
}
/* Notice: Dismiss Button */
.closeButton-3cJIM4 {
	height: 38px;
	margin-right: 92px;
}

/* View As Server Role */
.notice-3bPHh- .lookOutlined-3sRXeN.colorWhite-rEQuAQ {
	margin-right: 92px;
}