//META{"name":"DiscordNight | Vanilla Serverlist Notices","description":"Reverts the serverlist message notices to the default Discord look","author":"KillYoy#0295","version":"0.9.5.8","authorId":"98468214824001536"}*//{}

/* Server Message Notice */
.wrapper__216eb .listItem__48528 .item_f9d377 {
	background: #FFFFFF !important;
	border-radius: 0px 4px 4px 0px !important;
	width: 8px !important;
	min-height: 0px !important;
}
.wrapper__216eb .listItem__48528:hover .item_f9d377,
.wrapper__216eb .listItem__48528 .item_f9d377[style*="opacity: 1; height: 8px"],
.wrapper__216eb .listItem__48528 .item_f9d377[style*="opacity: 1; height: 40px"],
.wrapper__216eb .listItem__48528 .bd-unread .item_f9d377,
.wrapper__216eb .listItem__48528 .bd-hovered .item_f9d377,
.wrapper__216eb .listItem__48528 .bd-selected .item_f9d377,
.wrapper__216eb .listItem__48528 .bd-unread.bd-hovered:not(.bd-selected) .item_f9d377 {
	background: #FFFFFF !important;
}